body {
    background-color: #edebee;
    font-family: 'Roboto', sans-serif;
}

#header-left {
    position: absolute;
    height: 45vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url("../img/header-left.png");
}

#header-right {
    position: absolute;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 45vh;
    width: 100%;
    background-image: url("../img/header-right.png");
}

header {
    display: flex;
    height: 45vh;
    width: 100vw;
    background: rgb(164,228,255);
background: radial-gradient(circle at top, #a5d8ee  0%, #89c3db 20%, #7c9cae 100%);
}

nav {
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 4rem;
    color: white;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

#nav-caption {
    font-size: 2.5rem;
    margin-right: 3rem;
}

#controls {
    margin: auto;
    width: 80%;
    height: fit-content;
    font-size: 1.6rem;
    text-transform: uppercase;
}

#banner-caption {
    margin: auto;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 2px white;
    font-size: 4em;
    z-index: 2;
}

footer {
    height: 7em;
    background-color: #046b8b;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-links {
    color: white;
    margin-right: 16rem;
}

#copyright-text {
    color: rgb(190, 190, 190);
}

#about-us-footer {
    margin-right: 10rem;
}