#header-cover {
    position: absolute;
    width: 100%;
    height: 45vh;
    background-image: url("https://dacdn.fra1.digitaloceanspaces.com/stock/folderabstract-low-poly-wireframe-mesh-design-vector-288920431.png"); 
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    z-index: 2;
}

#controls {
    z-index: 3;
}

nav {
    background-color: rgba(0, 0, 0, 0.4);
}


#entry-container {
    width: 60vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.blog-entry {
    margin: 7rem 7rem;
    color: #3f3f3f;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.entry-date {
    margin-bottom: 1.5rem;
    display: block;
}

article {
    line-height: 1.2rem;
}

main {
    color: #00719d;
    background-color: white;
    width: fit-content;
    margin: 8rem auto;
    position: relative;
    display: table;
}

main:before,
main:after {
 content: "";
 position: absolute;
 left: 0; right: 0;
 bottom: 100%;
 border-bottom: 2em solid white;
 border-left: 2.3em solid transparent;
 border-right: 2.3em solid transparent;
}

#banner-caption {
    margin: auto 0;
    padding-left: 4ch;
    padding-bottom: 0.5ch;
    font-weight: bold;
    text-shadow: none;
    font-size: 5em;
}

