#header-left {
    position: absolute;
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url("../img/header-left.png");
}

#header-right {
    position: absolute;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 40vh;
    width: 100%;
    background-image: url("../img/header-right.png");
}

#header-division {
    height: 20vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("../img/header-division.png");
}

main {
    color: #00719d;
    background-color: white;
    width: fit-content;
    margin: 8rem auto;
    position: relative;
    display: table;
}

main:before,
main:after {
 content: "";
 position: absolute;
 left: 0; right: 0;
 bottom: 100%;
 border-bottom: 2em solid white;
 border-left: 2.3em solid transparent;
 border-right: 2.3em solid transparent;
}

#panels-container {
    padding: 0 4em;
}

#apologies {
    text-align: center;
    width: 30ch;
    margin: auto;
    margin-bottom: 3rem;
    font-size: 1.4rem;
}

.flex-to-right, .flex-to-left {
    padding: 3em;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
}

.flex-to-right {
    flex-direction: row-reverse;
}

.hex-image {
    display: flex;
    margin: 0em 1em;
    width: 20vw;
    min-width: 30ch;
    pointer-events: none;
}

.hexagon {
    margin: auto;
    max-width: 100%;
}

.briefing-panel {
    height: fit-content;
    margin: 0 1em;
    width: 20vw;
    min-width: 30ch;
}

.briefing-text { 
    margin-bottom: 6em;
    font-size: 1.2em;
}

.briefing-caption {
    font-size: 2em;
    border-top: 2px solid #008cc4;
    text-transform: uppercase;
    line-height: 1.5em;
    margin-bottom: 0.8em;
}

.more-info-button {
    background-color: #008cc4;
    color: white;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-family: monospace;
    letter-spacing: 0.2ch;
    font-size: 1.6em;
    padding: 0.5ch 2ch;
    border-radius: 0.2em;
}
