#header-cover {
    position: absolute;
    width: 100%;
    height: 45vh;
    background-image: url("https://dacdn.fra1.cdn.digitaloceanspaces.com/stock/cryptocurrency-stock-chart-light-futuristic-with-vector-23825976.png"); 
    background-size: cover;
    opacity: 0.9;
    z-index: 2;
}

#controls {
    z-index: 3;
}

nav {
    background-color: rgba(0, 0, 0, 0.4);
}

#banner-caption {
    margin: auto 0;
    padding-left: 4ch;
    padding-bottom: 0.5ch;
    font-weight: bold;
    text-shadow: none;
    font-size: 5em;
}

main {
    
}

#reasons-entry-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 5rem 5rem;
    color: #3f3f3f;
}

.reasons-entry {
    display: flex;
    justify-content: center;
    margin: 5rem 3rem;
    font-size: 1.2rem;
    flex-wrap: nowrap;
}

.reasons-entry-button {
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
    width: 10ch;
}

.reasons-entry-button span {
    text-transform: uppercase;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.button-status {
    font-size: 1.3rem;
    left: 1.4rem;
    bottom: 4rem;
    font-weight: bold;
}

.platform-name {
    font-size: 1.8rem;
    left: 2.2rem;
}

.platform-name-text {
    color: #008cc4;
}

.white-rectangle {
    border-radius: 0.5rem;
    transform: skewX(-27deg);
    position: absolute;
    padding: 3.5rem 16rem;
    background-color: white;
    z-index: -1;
    top: -2rem;
    left: -4.5rem;
}

.blue-rectangle {
    border-radius: 0.5rem;
    transform: skewX(-27deg);
    position: absolute;
    padding: 3.5rem 9rem;
    background-color: #008cc4;
    z-index: -1;
    top: -2rem;
    left: -2rem;
}

.explanation-block {
    position: relative;
    width: 55ch;
    margin-right: 25vw;
}