main {
    color: #00719d;
    background-color: white;
    width: 80vw;
    margin: 8rem auto;
    position: relative;
    display: table;
}

p {
    padding: 1rem 5rem;
    color: rgb(80, 80, 80);
}

main:before,
main:after {
 content: "";
 position: absolute;
 left: 0; right: 0;
 bottom: 100%;
 border-bottom: 2em solid white;
 border-left: 2.3em solid transparent;
 border-right: 2.3em solid transparent;
}

#banner-caption {
    margin: auto 0;
    padding-left: 4ch;
    padding-bottom: 0.5ch;
    font-weight: bold;
    text-shadow: none;
    font-size: 5rem;
}

